


   
<!-- -----------------------breadcrumb ------------------------ -->
    <div class="d-flex">
        <nav aria-label="breadcrumb ">
          <ol class="breadcrumb pl-0">
            <li class="breadcrumb-item"><a href="#">Supplier Information Edit</a></li>
            <li class="breadcrumb-item"><a href="#">Supplier Information</a></li>
          </ol>
        </nav>
      </div>
 <!-- ---------------------- company details ------------------------------ -->
<div class="d-flex">
    <div class="form-container">
        <div class="col-sm-12 col-md-12 pt-4">
            <h1 class="p-3">Company Details</h1>
        </div>
        <div class="d-flex">
            <div class="col-md-12 pl-5 pr-5 pb-5">
                <form>
                    <div class="form-group row ">
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="Address" placeholder="Address / Site Name*">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="address1" placeholder="Address line1*">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="address2" placeholder="Address line2">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="pobox" placeholder="P.O.Box">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="address3" placeholder="Address line3">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <select class="form-control" id="country">
                                <option>Country</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <select class="form-control" id="State">
                                <option>Select State</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="city" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="fax" placeholder="Fax Number">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="email" placeholder="email">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 <!-- ---------------------- Trade licence details ------------------------------ -->
 <div class="d-flex mt-4">
    <div class="form-container">
        <div class="col-sm-12 col-md-12 pt-4">
            <h1 class="p-3">Trade Licence Details</h1>
        </div>
        <div class="d-flex">
            <div class="col-md-12 pl-5 pr-5 pb-5">
                <form>
                    <div class="form-group row ">
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="Address" placeholder="Address / Site Name*">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="address1" placeholder="Address line1*">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="address2" placeholder="Address line2">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="pobox" placeholder="P.O.Box">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="address3" placeholder="Address line3">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <select class="form-control" id="country">
                                <option>Country</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <select class="form-control" id="State">
                                <option>Select State</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="city" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="fax" placeholder="Fax Number">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="email" placeholder="email">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 <!-- ---------------------- Manage details ------------------------------ -->
 <div class="d-flex mt-4">
    <div class="form-container">
        <div class="col-sm-12 col-md-12 pt-4">
            <h1 class="p-3">Manage Details</h1>
        </div>

    
        <div class="d-flex">
            <div class="col-md-12 pl-5 pr-5 pb-5">
                <form>
                    <div class="d-flex contact100-form-checkbox mb-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">Manage Contacts</label>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="Address" placeholder="Address / Site Name*">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="address1" placeholder="Address line1*">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="address2" placeholder="Address line2">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="pobox" placeholder="P.O.Box">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="address3" placeholder="Address line3">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <select class="form-control" id="country">
                                <option>Country</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <select class="form-control" id="State">
                                <option>Select State</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="city" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="fax" placeholder="Fax Number">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                            <input type="text" class="form-control" id="email" placeholder="email">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- --------------------- Table area -------------------------------- -->

<div class="d-flex table-area mt-5">
    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Application Ref#</th>
                    <th scope="col">Scope of Work</th>
                    <th scope="col">Sub Category</th>
                    <th scope="col">Child Category</th>
                    <th scope="col">Submited Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supplierinfo of suppliers">
                    <th scope="row">{{ supplierinfo.id }}</th>
                    <td> {{ supplierinfo.applicationno }}</td>
                    <td>{{ supplierinfo.scopeofwork }}</td>
                    <td>{{ supplierinfo.subcategory }}</td>
                    <td>{{ supplierinfo.childcategory}}</td>
                    <td>{{ supplierinfo.submiteddate}}</td>
                    <td>{{ supplierinfo.status}}</td>
                    <td><a routerLink="/supplier-info-edit"><i class="fa fa-eye" aria-hidden="true"></i> / <i
                                class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
            <!-- 
      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select> -->
        </div>
    </div>
</div>

