.form-control {
    border: 1px solid #6c757d;
}

.inner-box {
    background: white;
    padding: 25px;
}


.value-text p{
    font-size: 20px;
    font-weight: 600;
}
.chart-box img{
    width: 100%;
}

.search-title{
    font-size: 18px;
}

.input-size {
    width: 400px;
}