<div class="container">
    <form class="form-inline mt-5">

        <div class="form-group mr-5">
            <div class="input-group">
                <input class="form-control" placeholder="dd-mm-yyyy" name="start" [(ngModel)]="start" ngbDatepicker
                    #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()"
                        type="button"></button>
                </div>
            </div>
        </div>
        <div class="form-group mr-5">
            <div class="input-group">
                <input class="form-control" placeholder="dd-mm-yyyy" name="end" [(ngModel)]="end" ngbDatepicker
                    #d1="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary fa fa-calendar" (click)="d1.toggle()"
                        type="button"></button>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary">Apply</button>


    </form>

    <div class="row p-0 mt-4">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="inner-box">
                <h5>Tender Participation</h5>
                <div class="row justify-content-between pt-2">
                    <div class="col text-center">
                        <p>Won</p>
                    </div>
                    <div class="col text-center">
                        <p>Regretted</p>
                    </div>
                    <div class="col text-center">
                        <p>Not Response</p>
                    </div>
                </div>
                <div class="row justify-content-between value-text">
                    <div class="col text-center">
                        <p>2</p>
                    </div>
                    <div class="col text-center">
                        <p>4</p>
                    </div>
                    <div class="col text-center">
                        <p>108</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="inner-box ">
                <h5>Tender Participation</h5>
                <div class="row justify-content-between pt-2">
                    <div class="col text-center">
                        <p>Won</p>
                    </div>
                    <div class="col text-center">
                        <p>Regretted</p>
                    </div>
                    <div class="col text-center">
                        <p>Not Response</p>
                    </div>
                </div>
                <div class="row justify-content-between value-text">
                    <div class="col text-center">
                        <p>2</p>
                    </div>
                    <div class="col text-center">
                        <p>4</p>
                    </div>
                    <div class="col text-center">
                        <p>108</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="inner-box ">
                <h5>Tender Participation</h5>
                <div class="row justify-content-between pt-2">
                    <div class="col text-center">
                        <p>Won</p>
                    </div>
                    <div class="col text-center">
                        <p>Regretted</p>
                    </div>
                    <div class="col text-center">
                        <p>Not Response</p>
                    </div>
                </div>
                <div class="row justify-content-between value-text">
                    <div class="col text-center">
                        <p>2</p>
                    </div>
                    <div class="col text-center">
                        <p>4</p>
                    </div>
                    <div class="col text-center">
                        <p>108</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 mt-4">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="inner-box">
                <h5>Tender Participation</h5>
                <div class="row justify-content-between pt-2">
                    <div class="col text-center">
                        <p>Won</p>
                    </div>
                    <div class="col text-center">
                        <p>Regretted</p>
                    </div>
                    <div class="col text-center">
                        <p>Not Response</p>
                    </div>
                </div>
                <div class="row justify-content-between value-text">
                    <div class="col text-center">
                        <p>2</p>
                    </div>
                    <div class="col text-center">
                        <p>4</p>
                    </div>
                    <div class="col text-center">
                        <p>108</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="inner-box ">
                <h5>Tender Participation</h5>
                <div class="row justify-content-between pt-2">
                    <div class="col text-center">
                        <p>Won</p>
                    </div>
                    <div class="col text-center">
                        <p>Regretted</p>
                    </div>
                    <div class="col text-center">
                        <p>Not Response</p>
                    </div>
                </div>
                <div class="row justify-content-between value-text">
                    <div class="col text-center">
                        <p>2</p>
                    </div>
                    <div class="col text-center">
                        <p>4</p>
                    </div>
                    <div class="col text-center">
                        <p>108</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="inner-box ">
                <h5>Tender Participation</h5>
                <div class="row justify-content-between pt-2">
                    <div class="col text-center">
                        <p>Won</p>
                    </div>
                    <div class="col text-center">
                        <p>Regretted</p>
                    </div>
                    <div class="col text-center">
                        <p>Not Response</p>
                    </div>
                </div>
                <div class="row justify-content-between value-text">
                    <div class="col text-center">
                        <p>2</p>
                    </div>
                    <div class="col text-center">
                        <p>4</p>
                    </div>
                    <div class="col text-center">
                        <p>108</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-0 mt-4">
        <div class="col chart-box">

            <h5 class="pt-3 pb-3">Chart</h5>
            <img src="../../../../assets/img/chart.png" class="img-fluid" />

        </div>
    </div>

    <div class="row p-0 m-4 mb-2 justify-content-between border-top">
        <h3 class="search-title">Details</h3>
        <a href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
    </div>

    <div class="row p-0 ml-4 justify-content-between">
        <form class="form-inline">
            <div class="form-group mr-5">
                <div class="input-group">
                    <input class="form-control input-size" type="text" >
                </div>
            </div>
            <button type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
</div>