@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/fonts/icomoon.eot?m0tw4b');
  src:  url('../fonts/fonts/icomoon.eot?m0tw4b#iefix') format('embedded-opentype'),
    url('../fonts/fonts/icomoon.ttf?m0tw4b') format('truetype'),
    url('../fonts/fonts/icomoon.woff?m0tw4b') format('woff'),
    url('../fonts/fonts/icomoon.svg?m0tw4b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Address-Details .path1:before {
  content: "\e900";
 font-size: 22px;
 color: white;
}
.icon-Address-Details .path2:before {
  content: "\e901";
  margin-left: -1em;
  font-size: 22px;
  color: white;
}
.icon-Address-Details .path3:before {
  content: "\e902";
  margin-left: -1em;
  font-size: 22px;
  color: white;
}
.icon-Address-Details .path4:before {
  content: "\e903";
  margin-left: -1em;
  font-size: 22px;
  color: white;
}
.icon-Address-Details .path5:before {
  content: "\e905";
  margin-left: -1em;
  font-size: 22px;
  color: white;
}
.icon-Attachment-Section .path1:before {
  content: "\e906";
  color: black;
  font-size: 22px;
}
.icon-Attachment-Section .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Attachment-Section .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Bank-Details:before {
  content: "\e909";
  color: black;
  font-size: 22px;
}
.icon-Category--Scope:before {
  content: "\e90a";
  color: black;
  font-size: 22px;
}
.icon-Contact-Details:before {
  content: "\e90b";
  color: black;
  font-size: 22px;
}
.icon-Final-View:before {
  content: "\e90c";
  color: black;
  font-size: 22px;
}
.icon-Financial--Business .path1:before {
  content: "\e90d";
  color: black;
  font-size: 22px;
}
.icon-Financial--Business .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Financial--Business .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Financial--Business .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Financial--Business .path5:before {
  content: "\e911";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Financial--Business .path6:before {
  content: "\e912";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Financial--Business .path7:before {
  content: "\e913";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Financial--Business .path8:before {
  content: "\e914";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Financial--Business .path9:before {
  content: "\e915";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Financial--Business .path10:before {
  content: "\e916";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Financial--Business .path11:before {
  content: "\e917";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Financial--Business .path12:before {
  content: "\e918";
  margin-left: -1em;
  color: black;
  font-size: 22px;
}
.icon-Supplier-Information .path1:before {
  content: "\e919";
  color: white;
  font-size: 22px;
}
.icon-Supplier-Information .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: white;
  font-size: 22px;
}
.icon-Supplier-Information .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: white;
  font-size: 22px;
}
.icon-Supplier-Information .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: white;
  font-size: 22px;
}
.icon-contact-us:before {
  content: "\e91d";
  color: #666766;
}
.icon-hamburger:before {
  content: "\e91e";
}
.icon-logout:before {
  content: "\e91f";
  color: #ed2024;
}
.icon-Contract:before {
  content: "\e920";
  color: #2a2c7a;
}
.icon-Dashboard .path1:before {
  content: "\e921";
  color: rgb(41, 43, 122);
}
.icon-Dashboard .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(41, 43, 122);
}
.icon-Dashboard .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(42, 44, 122);
}
.icon-Dashboard .path4:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(41, 43, 122);
}
.icon-Dashboard .path5:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(41, 43, 122);
}
.icon-Dashboard .path6:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(41, 43, 122);
}
.icon-Dashboard .path7:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(41, 43, 122);
}
.icon-Milestone .path1:before {
  content: "\e928";
  color: rgb(42, 44, 122);
}
.icon-Milestone .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(41, 43, 122);
}
.icon-Milestone .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(42, 44, 122);
}
.icon-Milestone .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(42, 44, 122);
}
.icon-Notifications:before {
  content: "\e92c";
  color: #2c2e7b;
}
.icon-Payment:before {
  content: "\e92d";
  color: #2a2c7a;
}
.icon-Supplier .path1:before {
  content: "\e92e";
  color: rgb(41, 43, 122);
}
.icon-Supplier .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(43, 45, 123);
}
.icon-Supplier .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(43, 45, 123);
}
.icon-Supplier .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(41, 43, 122);
}
.icon-Tender .path1:before {
  content: "\e932";
  color: rgb(43, 45, 123);
}
.icon-Tender .path2:before {
  content: "\e933";
  margin-left: -0.9921875em;
  color: rgb(43, 45, 123);
}
.icon-Tender .path3:before {
  content: "\e934";
  margin-left: -0.9921875em;
  color: rgb(42, 44, 122);
}
.icon-Tender .path4:before {
  content: "\e935";
  margin-left: -0.9921875em;
  color: rgb(42, 44, 122);
}
.icon-Tender .path5:before {
  content: "\e936";
  margin-left: -0.9921875em;
  color: rgb(43, 45, 123);
}
.icon-Tender .path6:before {
  content: "\e937";
  margin-left: -0.9921875em;
  color: rgb(43, 45, 123);
}
.icon-Tender .path7:before {
  content: "\e938";
  margin-left: -0.9921875em;
  color: rgb(43, 45, 123);
}
.icon-Tender .path8:before {
  content: "\e939";
  margin-left: -0.9921875em;
  color: rgb(43, 45, 123);
}
.icon-Tender .path9:before {
  content: "\e93a";
  margin-left: -0.9921875em;
  color: rgb(43, 45, 123);
}
.icon-home3:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
