

/*login page*/

.login-body {
    background-color: #f1f2f7;
}
.login-img-body{
  /* background: url('../img/bg-1.jpg') no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-img2-body{
  /* background: url('../img/bg-1.jpg') no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-img3-body{
   /* background: url('../img/Dubai-Aerial_4.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.login-img4-body{
  /* background: url('../img/bg-1.jpg') no-repeat center center fixed;  */
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; 
   text-indent:-10000px;
}

.login-form {
   /*  max-width: 350px;
   
    background: #d5d7de; */    
     margin: auto;
}
.login-img-body .login-form{
    max-width: 350px;
    margin: 200px auto 0;
    background: rgba(213,215,222,0.4);
    border: 1px solid #B0B6BE;
}
.login-img2-body .login-form{
    border: 1px solid #B0B6BE;
    background: rgba(213,215,222,0.7);
}
.login-img3-body .login-form{
   /*  border: 1px solid #B0B6BE;
    background: rgba(213,215,222,0.9); */
}
.login-form a{
    color: #688a7e !important;
}
.login-form h2.login-form-heading {
    margin: 0;
    padding:20px 15px;
    text-align: center;
    background: #34aadc;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.login-form .checkbox {
    margin-bottom: 14px;
}
.login-form .checkbox {
    font-weight: normal;    
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}
.login-form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    /* padding: 10px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login-form .form-control:focus {
    z-index: 2;
}
.login-form .login-img{
    font-size: 50px;
    font-weight: 300;    
}
.login-form .input-group{
    padding-bottom: 15px;
}
.login-form .input-group-addon{
    padding: 6px 12px;
    font-size: 16px;
    color: #8b9199;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
}
/* .login-form input[type="text"],  .login-form input[type="password"] {    
    border: none;
    box-shadow: none;
    font-size: 16px;
    border-radius: 0; 
}--commented by JG */
.login-form .btn{
    border-radius: 0;
}
.login-form .btn-login {
    background: #f67a6e;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 4px #e56b60;
    margin-bottom: 20px;
}

.login-form p {
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}
.login-img3-body .login-form p,.login-img2-body .login-form p {
    /* color: #34aadc; */
}
.login-form a {
    color: #b6b6b6;
}

.login-form a:hover {
    color: #34aadc;
}
.form .required{
    font-size: 16px;
    color: #e80935;
}

.login-wrap {
    padding: 20px;
}

.login-social-link  {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
}

.login-social-link a {
    color: #fff;
    padding: 15px 28px;
    border-radius: 4px;
}

.login-social-link a:hover {
    color: #fff;
}

.login-social-link a i {
    font-size: 20px;
    padding-right: 10px;
}

.login-social-link a.facebook {
    background: #5193ea;
    margin-right: 22px;
    box-shadow: 0 4px #2775e2;
	float:left;
}

.login-social-link a.twitter {
    background: #44ccfe;
    box-shadow: 0 4px #2bb4e8;
	float:left;
}



a.logo {
    font-size: 31px;
    font-weight: 300;
    color: #c51004;
    float: left;
    margin-top: 15px;
    margin-left: 23px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    /* text-transform: uppercase; */
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #688a7e;
}




/* Added by JG for login*/
.login-wrap {
	margin-left:  auto; 
    margin-right: 15%;
    position: relative;
    min-height: 338px;
    min-width: 320px;
    max-width: 440px;
    /* width: calc(100% - 40px); */
    padding: 44px;
    margin-bottom: 28px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.55);
    box-shadow: 0 2px 3px rgba(0,0,0,0.55);
    border: 1px solid rgba(0,0,0,0.4);   
    
}
.login-container{
	
	position: absolute;
    display: table;
    width: 100%;
    height:100%;
}

@media (max-width: 600px), (max-height: 338px){
	.login-wrap{
		margin-left: auto;
    	margin-right: auto;
		-webkit-box-shadow:none;box-shadow:none;border:0px;width:100%;
		}
	}
	.login-form {
    display: table-cell;
    vertical-align: middle;
}
	@media (max-width: 600px), (max-height: 338px){
		.login-form {
		    vertical-align: top;
		}
			
	}

.container-login-form-btn {
 
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  
  position: absolute;
    bottom: 44px;
  right: 44px;
  text-align: right;
}

.login-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:4px 12px 4px 12px;
  min-width: 108px;
  height: 32px;
  background-color: #4272d7;
	border: 1px solid transparent;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-form-btn:hover {
  background-color: #333333;
}
.margin-bottom-16 {
    margin-top: 0px;
    margin-bottom: 16px;
}
.margin-bottom-20 {
    margin-top: 0px;
    margin-bottom: 20px;
}
.margin-bottom-50 {
    margin-top: 0px;
    margin-bottom: 50px;
}
.text-title, h3, .text-body, p {
    color: #404040;
    padding: 0px;
}
.text-title {
    font-size: 2.8rem;
    line-height: 1.75rem;
    font-weight: 600;
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea {
    border-style: solid;
    border-color: #000;
    border-color: #1565C0;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-radius: 0px;
    padding: 6px 0px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.4);
    outline: none;
    height: 36px;
}



.login-wrap a {
    color: #1E88E5!important;
}
.background {
	background: #f5f5f5;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
}
.background .blur {
    -webkit-animation: animate-fadeIn;
    -o-animation: animate-fadeIn;
    animation: animate-fadeIn;
}

.background>div {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: cover, cover;
}
.background .full {
    background-image: url('../img/bg/login-bg.jpg');
    -webkit-animation: animate-fadeIn;
    -o-animation: animate-fadeIn;
    animation: animate-fadeIn;
    opacity: 0.45;
}

picture >img{
	width:200px!important;
}
.text-secondary {
    font-size: 1.3rem;
    font-weight: 100!important;
}
.text-secondary span{
    font-weight: 100!important;
}
body{
	font-family: "Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}
@media (max-width: 600px), (max-height: 338px){
	.background {
    display: none;
}
body{
	background-color: #fff;
}
}
.row {
    margin-left: -2px;
    margin-right: -2px;
}
#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: visible;
    z-index: 99;
    clear: both;
    background-color: #000;
    background-color: rgba(0,0,0,0.6);
}
div .footerNode a, div .footerNode span {
    color: #fff;
    font-size: 12px;
    line-height: 28px;
    white-space: nowrap;
    display: inline-block;
    float: right;
    margin-left: 8px;
    margin-right: 8px;
}
@media (max-width: 600px), (max-height: 338px){
	div .footerNode a, div .footerNode span {
    color: #777;
    float: left;
}
}
@media (max-width: 600px), (max-height: 338px){
#footer {
    background: #fff;
}
}


.col-sm-12, .col-md-12, .col-lg-12{
padding-left: 2px; 
    padding-right: 2px;
}

.userIdOuter {	
    height: 24px;
    background: #fff;
    margin-top: 16px;
    margin-bottom: -4px;
}
.userId {
	font-size:15px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pwd.text-title {
    color: #1b1b1b;
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 12px;
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}
.pwd.row{
	margin-left: 0;
    margin-right: 0;
}
input[type="password"]{
	padding: 6px 10px;
    border-width: 2px;
    border-color: #1565C0;
    height: 36px;
    outline: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 0;
    
    
}
.no-margin-top {
    margin-top: 0;
}

.form-group {
    margin-bottom: 16px;
}
.checkbox input[type="checkbox"]{
    position: absolute;
     margin-left: -23px;
    width: 20px;
    height: 20px;
}

 #keep-signed-in-label{
	 font-family: "Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
     font-size: 15px!important;
	 color:#1B1B1B;
	 }
	 .button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}
.no-padding-left-right {
    padding-left: 0;
    padding-right: 0;
}
.col-xs-24 {
    width: 100%;
}
.col-xs-24 {
    float: left;
}
.inline-block {
    display: inline-block;
}
.btn.btn-primary, button.btn-primary, input[type="button"].btn-primary, input[type="submit"].btn-primary, input[type="reset"].btn-primary {
    border-color: #0067b8;
    background-color: #0067b8;
    padding:4px 12px;
    margin:0px;
    min-height:32px;
    min-width: 108px;
    line-height: normal;
    font-weight: 100;
    font-family:"Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}
.btn.btn-primary:hover, button.btn-primary:hover, input[type="button"].btn-primary:hover, input[type="submit"].btn-primary:hover, input[type="reset"].btn-primary:hover, .btn.btn-primary:focus, button.btn-primary:focus, input[type="button"].btn-primary:focus, input[type="submit"].btn-primary:focus, input[type="reset"].btn-primary:focus {
    background-color: #005da6;
    border-color: #004e8c;
    color: #fff;
}

.pagination-view {
    position: relative;
    min-height: 206px;
}
.margin-minus-left-10{
	margin-left:-10px
}

.login-back-icon a{
color:#838689!important
}

.login-wrap-regn {
	margin:  0px 200px; 
    
    position: relative;
    min-height: 338px;
    min-width: 320px;
    /* max-width: 440px; */
    /* width: calc(100% - 40px); */
    padding: 44px;
    margin-bottom: 28px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.55);
    box-shadow: 0 2px 3px rgba(0,0,0,0.55);
    border: 1px solid rgba(0,0,0,0.4);   
    
}

@media (max-width: 600px), (max-height: 338px){
	.login-wrap-regn{
		margin-left: auto;
    	margin-right: auto;
		-webkit-box-shadow:none;box-shadow:none;border:0px;width:100%;
		}
	}


