 

//  background color variables
  $white :white;  
  $blue :#00a1e4;
  $green :#19bd9d;
  $gray : #dedede;

//  fonts color variables
  $ft-white: white;
  $ft-blue : #00a1e4;
  $ft-green : #19bd9d;
  $ft-black: #000;
  
//  fonts size variables
  $ft-size4 :4px;
  $ft-size5 :5px;
  $ft-size6 :6px;
  $ft-size7 :7px;
  $ft-size8 :8px;
  $ft-size9 :9px;
  
  //  padding and margin size variables
  $pad : 8px;
  $margin : 12px;
  