
  <div class="container">
    <!-- ----------------------- Progress bar -------------------- -->
    
    
    <div class="progress-area">
        <div class="progress-container">
    
          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-green">
                <span class="icon-Supplier-Information"><span class="path1"></span><span class="path2"></span><span
                    class="path3"></span><span class="path4"></span></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100% ; background: #19bd9d;" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-green">Supplier Information</span>            
          </div>
    
          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-green">
                <span class="icon-Address-Details"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 100% ; background: #19bd9d;" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-green">Address Details</span>        
          </div>
        
          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-green">
                <span class="icon-Contact-Details"></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar bg-upcoming" role="progressbar"  style="width: 100% ; background: #19bd9d;" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-green">Contact Details</span>      
          </div>
    
          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-green">
                <span class="icon-Financial--Business"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar bg-upcoming" role="progressbar" style="width: 100% ; background: #19bd9d;" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-green">Financial & Business</span>
          </div>
    
          
          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-green">
                <span class="icon-Bank-Details"></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar bg-upcoming" role="progressbar" style="width: 100% ; background: #19bd9d;" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-green">Bank Details</span>
          </div>
    
          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-blue">
                <span class="icon-Category--Scope"></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar bg-upcoming" role="progressbar" style="width: 50%;" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-blue">Category & Scope</span>
          </div>
    
          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-gray">
                <span class="icon-Attachment-Section"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar bg-upcoming" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-black">Attachment Section</span>
          </div>
          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-gray">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
              </div>
            </div>  
            <span class="info-text ft-black">Final View</span>
          </div>
    
        </div>
      </div>
<!-- ---------------------- company details ------------------------------ -->
<div class="d-flex">
<div class="form-container">
    <div class="col-sm-12 col-md-12 pt-4">
        <h1 class="p-3">Add Category Information</h1>
    </div>
    <div class="d-flex">
        <div class="col-md-12 pl-5 pr-5 pb-5">
            <form>
                <div class="form-group row ">
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                        <input type="text" class="form-control" id="Address" placeholder="Address / Site Name*">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                        <input type="text" class="form-control" id="address1" placeholder="Address line1*">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                        <input type="text" class="form-control" id="address2" placeholder="Address line2">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                        <input type="text" class="form-control" id="pobox" placeholder="P.O.Box">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                        <input type="text" class="form-control" id="address3" placeholder="Address line3">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                        <select class="form-control" id="country">
                            <option>Country</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                        <select class="form-control" id="State">
                            <option>Select State</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                        <input type="text" class="form-control" id="city" placeholder="City">
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                        <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                        <input type="text" class="form-control" id="fax" placeholder="Fax Number">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 pb-3">
                        <input type="text" class="form-control" id="email" placeholder="email">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
</div>



<!-- --------------------- Table area -------------------------------- -->

<div class="d-flex table-area mt-5">
<div class="table-responsive">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Application Ref#</th>
                <th scope="col">Scope of Work</th>
                <th scope="col">Sub Category</th>
                <th scope="col">Child Category</th>
                <th scope="col">Submited Date</th>
                <th scope="col">Testimonail</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplierinfo of suppliers">
                <th scope="row">{{ supplierinfo.id }}</th>
                <td> {{ supplierinfo.applicationno }}</td>
                <td>{{ supplierinfo.scopeofwork }}</td>
                <td>{{ supplierinfo.subcategory }}</td>
                <td>{{ supplierinfo.childcategory}}</td>
                <td>{{ supplierinfo.submiteddate}}</td>
                <td><div class="attach-btn file ">
                    <span class="btn btn-secondary">Attach</span>
                    <input type="file" name="file"/>
                </div></td>
                <td><a routerLink="/supplier-info-edit"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

          <!-- --------------- save and navigation ---------------- -->
          <section id="pagination" class="pagination-area mb-5">
            <div class="container ">
              <div class=" pr-0 ">
                <nav class="navigation pull-right">
                  <ul class="pagination ">
                    <li class="page-item"><a class="page-link prev-btn" routerLink="/supplier-bank-details"><img src="./assets/img/arrow-left.png"> </a></li>
                    <li class="page-item"><a class="page-link save" href="#">SAVE</a></li>
                    <li class="page-item"><a class="page-link next-btn" routerLink="/attachment-section"> <img src="./assets/img/arrow-right.png"> </a></li>
                  </ul>
                </nav>
              </div>       
            </div>
          </section>
        <!-- 
  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select> -->
    </div>
</div>
</div>
</div>
