@import "../../../assets/scss/variables.scss";
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  .top-bg{
    background: $green;
    height: 10px;
  }
  
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  #header {
    
    // height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #fff;  
    /* position: relative; */
    border-bottom: 1px solid #74c6e7;
  }
  
  #header.header-top {
    position: sticky;  
    top: 0; 
  }
  .header-top.top-shadow {  
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  #header .logo h1 {
    font-size: 12px;
    padding: 8px 0 0 8px;
    // margin-top: 8px;
    border-left: 1px solid #c2c2c2;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #00a1e4;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  #header .navbar {    
    padding: 0 !important;
}

.navbar-dark .navbar-nav .active>.nav-link{
  color: #00a1e4;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #00a1e4;
}
.navbar-dark .navbar-nav span:hover{
  color: #00a1e4;
}


.navbar-dark .navbar-nav .nav-link{
  color: #666666;
  padding: 2px 20px 0 20px;
}

.dropdown-toggle::after {
  display: none;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  
}
.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.1);
  background: #666666;;
}
  
  .nav-link {
    font-size: 14px;
  }

  .nav-link a:hover{
    color: #00a1e4;
  }