<div class="container">
    
        <nav class="d-flex mt-4">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-supplier-information" data-toggle="tab" href="#supplier-information" role="tab" aria-controls="nav-supplier-information" aria-selected="true">Supplier Information</a>
            <a class="nav-item nav-link" id="nav-address-details" data-toggle="tab" href="#address-details" role="tab" aria-controls="nav-address-details" aria-selected="false">Address Details</a>
            <a class="nav-item nav-link" id="nav-contact-details" data-toggle="tab" href="#contact-details" role="tab" aria-controls="nav-ccontact-details" aria-selected="false">Contact Details</a>
            <a class="nav-item nav-link" id="nav-financial-business" data-toggle="tab" href="#financial-business" role="tab" aria-controls="nav-financial-business" aria-selected="false">Financial & Business</a>
            <a class="nav-item nav-link" id="nav-bank-details" data-toggle="tab" href="#bank-details" role="tab" aria-controls="nav-bank-details" aria-selected="false">Bank Details</a>
            <a class="nav-item nav-link" id="nav-category-scope" data-toggle="tab" href="#category-scope" role="tab" aria-controls="nav-category-scope" aria-selected="false">Category & Scope</a>
            <a class="nav-item nav-link" id="nav-attachment-section" data-toggle="tab" href="#attachment-section" role="tab" aria-controls="nav-attachment-section" aria-selected="false">Attachment Section</a>
            <a class="nav-item nav-link" id="nav-final-view" data-toggle="tab" href="#final-view" role="tab" aria-controls="nav-final-view" aria-selected="false">Final View</a>
          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="supplier-information" role="tabpanel" aria-labelledby="nav-supplier-information">
           <app-supplier-information></app-supplier-information>
          </div>
          <div class="tab-pane fade" id="address-details" role="tabpanel" aria-labelledby="nav-address-details">
            <app-supplier-address-details> </app-supplier-address-details>
          </div>
          <div class="tab-pane fade" id="contact-details" role="tabpanel" aria-labelledby="nav-contact-details">
            <app-supplier-contact-details> </app-supplier-contact-details>
          </div>
          <div class="tab-pane fade" id="financial-business" role="tabpanel" aria-labelledby="nav-financial-business">
            <app-supplier-financial-business> </app-supplier-financial-business>
          </div>
          <div class="tab-pane fade" id="bank-details" role="tabpanel" aria-labelledby="nav-bank-details">
            <app-supplier-bank-details> </app-supplier-bank-details>
           </div>
           <div class="tab-pane fade" id="category-scope" role="tabpanel" aria-labelledby="nav-category-scope">
            <app-supplier-category-scope> </app-supplier-category-scope>
           </div>
           <div class="tab-pane fade" id="attachment-section" role="tabpanel" aria-labelledby="nav-attachment-section">
            <app-attachment-details> </app-attachment-details>
           </div>
           <div class="tab-pane fade" id="final-view" role="tabpanel" aria-labelledby="nav-final-view">
            <app-final-view> </app-final-view>
           </div>
        </div>
      
      </div>
  