<div class="container contract-info">
    <div class="d-flec mt-5">
        <h3 class="page-heading">Contract Information</h3>
    </div>
    <div class="panel-group " id="accordion">
        <!-- <div class="panel-default"> -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                        style="text-decoration: none;"><img class="icon25"
                            src="../../../../assets/img/tender_filew.png">
                        Contract Details </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body panel-body1">
                    <div id="no-more-tables">
                        <table class="table text-center tendertable">
                            <tbody>
                                <tr>
                                    <td class="tendertable">Contract Number <br>
                                        <span class="tenderextrabold">PTA/MAR/123/01</span></td>
                                    <td class="tdborder tendertable">Contract Status<br>
                                        <span class="tenderextrabold">Approved</span></td>
                                    <td class="tdborder tendertable text-left" colspan="3">Contract Total Value<br>
                                        <span class="tenderextrabold">AED 12,000,000.00</span>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="tendertable">Revision Number <br>
                                        <span class="tenderextrabold">1</span></td>
                                    <td class="tdborder tendertable text-left">Contract Description<br>
                                        <span class="tenderextrabold">Construction of Al Garhoud Maintenance Facility,
                                            Package 2 (Building Works)</span></td>
                                    <td colspan="3" class="tdborder tendertable text-left">Contract
                                        Award Date<br>
                                        <span class="tenderextrabold">12-June-2017
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tendertable">Contract
                                        Commencement Date<br>
                                        <span class="tenderextrabold">12-June-2018
                                        </span>
                                    </td>
                                    <td class="tdborder tendertable">Expiry
                                        Date<br>
                                        <span class="tenderextrabold">12-June-2019
                                        </span>
                                    </td>
                                    <td colspan="2" class="tdborder tendertable text-left">Duration
                                        <br>
                                        <span class="tenderextrabold">30 Days</span>
                                    </td>
                                    <td class="tdborder tendertable text-left">Contract
                                        Co-ordinator<br>
                                        <span class="tenderextrabold">Firas Ali Ahmad Al-eid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tendertable">RTA Liaison Officer<br>
                                        <span class="tenderextrabold">Khalifa Humaid Khalifa</span>
                                    </td>
                                    <td class="tdborder tendertable">Contract Main Type
                                        <br>
                                        <span class="tenderextrabold">Expense</span>
                                    </td>
                                    <td colspan="3" class="tdborder tendertable text-left">Contract
                                        Sub Type<br>
                                        <span class="tenderextrabold">Advertising</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tendertable">Agency
                                        <br>
                                        <span class="tenderextrabold">Public Transport Agency</span>
                                    </td>
                                    <td class="tdborder tendertable">Department
                                        <br>
                                        <span class="tenderextrabold">Traffic</span>
                                    </td>
                                    <td colspan="3" class="tdborder tendertable text-left">Section
                                        <br>
                                        <span class="tenderextrabold">TRF - Business Development</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                        style="text-decoration: none;"><img class="icon25"
                            src="../../../../assets/img/tender_filew.png">
                        Download Center </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body panel-body1">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Downloaded By</th>
                                    <th>Downloaded Date & Time</th>
                                    <th align="center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Contract PDF</td>
                                    <td>Details about contracts</td>
                                    <td>James</td>
                                    <td>12-June-2017 03:30 PM</td>
                                    <td align="center"><a href="#"><img class="icon25"
                                                src="../../../../assets/img/download.png"></a></td>

                                </tr>
                                <tr>
                                    <td>Contract PDF</td>
                                    <td>Details about contracts</td>
                                    <td>James</td>
                                    <td>12-June-2017 03:30 PM</td>
                                    <td><a href="#"><img class="icon25" src="../../../../assets/img/download.png"></a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class=" panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5"
                        style="text-decoration: none;"><img class="icon25"
                            src="../../../../assets/img/tender_filew.png"> Payment
                        Milestone / BOQ </a> </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse in">
                <div class="panel-body panel-body1">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Summary</th>
                                    <th>Milestone Description</th>
                                    <th>Units of Measure</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Total Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> <input type="text" class="form-control" id="Summary" value=""></td>
                                    <td> <input type="text" class="form-control" id="Summary" value=""></td>
                                    <td><select class="form-control" id="sel1">
                                            <option>No. of Units</option>
                                            <option>Milestone %</option>
                                        </select></td>
                                    <td><input type="text" class="form-control" id="Summary" value=""></td>
                                    <td><input type="text" class="form-control" id="Summary" value=""></td>
                                    <td><input type="text" class="form-control" id="Summary" value=""></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <!-- Attachment section -->

        <div class="panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                        style="text-decoration: none;"><img class="icon25"
                            src="../../../../assets/img/tender_filew.png"> <span> Attachment
                            Section</span> </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
                <div class="panel-body panel-body1 mb-3">
                   
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Document Category</th>
                                        <th>Document Description</th>
                                        <th>Upload</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 
                                            <div class="form-group mt-1">
                                                <select class="form-control" id="sel1">
                                                <option>Performance Bond/Advice Payment Guarantee</option>
                                                <option>Insurance</option>
                                                <option>SOW</option>
                                                <option>Others</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td> <input type="text" class="form-control" id="Summary" value=""></td>
                                        
                                        <td><div class="attach-btn file ">
                                            <span class="btn btn-secondary">Select file here to upload</span>
                                            <input type="file" name="file"/>
                                        </div></td>
                                    </tr>
    
                                </tbody>
                            </table>
                       
                    </div>
                    <h3 class="table-header p-1">Uploaded Documents</h3>
                    <div>
                        <div class="panel-body panel-body1">
                          
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Uploaded By</th>
                                                <th>Uploaded Date & Time</th>
                                                <th>Action</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> 
                                                    myDoc.doc
                                                </td>
                                                <td>One procurement details</td>
                                                
                                                <td>James</td>
                                                <td>12-June-2017 03:30 PM</td>
                                                <td><div class="text-center">
                                                    <a href="#"><img class="icon25" src="../../../../assets/img/download.png"></a> &nbsp;&nbsp;&nbsp;
                                                        
                                                        <a href="#"><i onclick="deleteRow();" class="fa fa-trash-o iconfont" aria-hidden="true"></i></a>
                                                </div></td>
                                            </tr>
            
                                        </tbody>
                                    </table>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

        <div class="d-flex pull-right">
            <button type="button" class="btn btn-danger mr-2">Agree</button>
            <button type="button" class="btn btn-secondary">Back</button>
        </div>



        <!-- </div> -->
    </div>
</div>