<div class="container contract-info">

     <!-- --------------- breadcrumb ---------------- -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb pl-0 mt-3">
      <li class="breadcrumb-item active" aria-current="page">Contract Edit</li>
    </ol>
  </nav>

    <div class="panel-group " id="accordion">

<!-- 
        -----------------------  Contract Details  ------------------------------ -->
        <!-- <div class="panel-default"> -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                        style="text-decoration: none;"><img class="icon25"
                            src="../../../../assets/img/tender_filew.png">
                        Contract Details </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body panel-body1">
                    <div id="no-more-tables">
                        <table class="table text-center tendertable">
                            <tbody>
                                <tr>
                                    <td class="tendertable">Contract Number <br>
                                        <span class="tenderextrabold">PTA/MAR/123/01</span></td>
                                    <td class="tdborder tendertable">Contract Status<br>
                                        <span class="tenderextrabold">Approved</span></td>
                                    <td class="tdborder tendertable text-left" colspan="3">Contract Total Value<br>
                                        <span class="tenderextrabold">AED 12,000,000.00</span>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="tendertable">Revision Number <br>
                                        <span class="tenderextrabold">1</span></td>
                                    <td class="tdborder tendertable text-left">Contract Description<br>
                                        <span class="tenderextrabold">Construction of Al Garhoud Maintenance Facility,
                                            Package 2 (Building Works)</span></td>
                                    <td colspan="3" class="tdborder tendertable text-left">Contract
                                        Award Date<br>
                                        <span class="tenderextrabold">12-June-2017
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tendertable">Contract
                                        Commencement Date<br>
                                        <span class="tenderextrabold">12-June-2018
                                        </span>
                                    </td>
                                    <td class="tdborder tendertable">Expiry
                                        Date<br>
                                        <span class="tenderextrabold">12-June-2019
                                        </span>
                                    </td>
                                    <td colspan="2" class="tdborder tendertable text-left">Duration
                                        <br>
                                        <span class="tenderextrabold">30 Days</span>
                                    </td>
                                    <td class="tdborder tendertable text-left">Contract
                                        Co-ordinator<br>
                                        <span class="tenderextrabold">Firas Ali Ahmad Al-eid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tendertable">RTA Liaison Officer<br>
                                        <span class="tenderextrabold">Khalifa Humaid Khalifa</span>
                                    </td>
                                    <td class="tdborder tendertable">Contract Main Type
                                        <br>
                                        <span class="tenderextrabold">Expense</span>
                                    </td>
                                    <td colspan="3" class="tdborder tendertable text-left">Contract
                                        Sub Type<br>
                                        <span class="tenderextrabold">Advertising</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tendertable">Agency
                                        <br>
                                        <span class="tenderextrabold">Public Transport Agency</span>
                                    </td>
                                    <td class="tdborder tendertable">Department
                                        <br>
                                        <span class="tenderextrabold">Traffic</span>
                                    </td>
                                    <td colspan="3" class="tdborder tendertable text-left">Section
                                        <br>
                                        <span class="tenderextrabold">TRF - Business Development</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- 
        -----------------------  attachment section  ------------------------------ -->
        <div class="panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                        style="text-decoration: none;"><img class="icon25"
                            src="../../../../assets/img/tender_filew.png">
                            Attachment Section
                        </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body panel-body1">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Document Category </th>
                                    <th>Document Description</th>
                                    <th>Upload Document</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <tr>
                                    <td>  <input type="text" class="form-control" id="Address" placeholder=""></td>
                                    <td> 
                                        <select class="form-control" id="country">
                                        <option>Sub Category</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select></td>
                                    <td><div class="attach-btn file ">
                                        <span class="btn btn-secondary">Select files here to upload</span>
                                        <input type="file" name="file"/>
                                    </div>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class=" panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5"
                        style="text-decoration: none;"><img class="icon25"
                            src="../../../../assets/img/tender_filew.png"> Payment
                        Milestone / BOQ </a> </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse in">
                <div class="panel-body panel-body1">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Summary</th>
                                    <th>Milestone Description</th>
                                    <th>Units of Measure</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Total Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> test</td>
                                    <td> test</td>
                                    <td> test</td>
                                    <td> test</td>
                                    <td> test</td>
                                    <td> test</td>
                                    <td><a href=""><i class="fa fa-trash"></i></a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <!-- Attachment section -->

       

        <div class="d-flex pull-right">
            <button type="button" class="btn btn-danger mr-2">Agree</button>
            <a routerLink="/contract-search"><button type="button" class="btn btn-secondary">Back</button></a>
        </div>



        <!-- </div> -->
    </div>
</div>