<section id="progess" class="container-fluid">
    <div class="row">
      <div class="container">
       <div class="progress-area">
        <div class="progress-container">

          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-green">
                <span class="icon-Supplier-Information"><span class="path1"></span><span class="path2"></span><span
                    class="path3"></span><span class="path4"></span></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar " role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-green">Supplier Information</span>            
          </div>

          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-blue">
                <span class="icon-Address-Details"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-blue">Address Details</span>        
          </div>
         
          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-gray">
                <span class="icon-Contact-Details"></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar bg-upcoming" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-black">Contact Details</span>      
          </div>

          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-gray">
                <span class="icon-Financial--Business"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar bg-upcoming" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-black">Financial & Business</span>
          </div>

          
          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-gray">
                <span class="icon-Bank-Details"></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar bg-upcoming" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-black">Bank Details</span>
          </div>

          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-gray">
                <span class="icon-Category--Scope"></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar bg-upcoming" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-black">Category & Scope</span>
          </div>

          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-gray">
                <span class="icon-Attachment-Section"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
              </div>
            </div>            
            <div class="progress">
              <div class="progress-bar bg-upcoming" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <span class="info-text ft-black">Attachment Section</span>
          </div>
          <div class="progress-box">
            <div class="progress-inner-box">
              <div class="circle bg-gray">
                <span class="icon-Contact-Details"></span>
              </div>
            </div>  
            <span class="info-text ft-black">Final View</span>
          </div>
   
        </div>
       </div>
      
      </div>
    </div>
  </section>