/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    color: #333333;
    background: #f6f6f6;
  }
  
  a {
    color: #00a0e4;
  }
  
  a:hover {
    color: #e6573f;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # color value
  --------------------------------------------------------------*/
  
  .bg-white {
    background: white;
  }
  
  .bg-blue {
    background: #00a1e4;
  }
  
  .bg-green {
    background: #19bd9d;
  }
  
  .bg-gray {
    background: #dedede;
  }
  
  .ft-white {
    color: white;
  }
  
  .ft-blue {
    color: #00a1e4;
  }
  
  .ft-green {
    color: #19bd9d;
  }
  
  .ft-black {
    color: #000;
  }
  
  .ft-size14 {
    font-size: 14px;
  }
  
 
  
  
 
  
  /*--------------------------------------------------------------
  # Progress Section
  --------------------------------------------------------------*/
  .progress-area {
    display: block; 
    width: 100%;
    overflow-x: auto;
    margin: 40px 0;
  }
  
  .progress-container {
    display: flex;
    justify-content: center;
    width: 1110px;
    flex-direction: row;
    overflow-x: auto;
  }
  
  
  .progress-container .progress-box {
    position: relative;
    width:140px;
    display: block;
   text-align: center;
  }
  
  .progress-container .progress-box .progress-inner-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .progress-container .progress-box .info-text{
   font-size: 12px;
   margin-top: 20px;
   display: block;
  }
  
  
  
  .circle {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
  }
  
  
  
  .progress {
    position: absolute;
    left: 68%;
    width: 89px;
    top: 24px;
    z-index: -1;
    height: 4px;
  }
  
  .progress  .progress-bar {
    height: 4px;
  }
  .progress-bar {
    width: 0px;
    box-shadow: none;
    height: 4px;
  }
  
  
  /*--------------------------------------------------------------
  # Forms
  --------------------------------------------------------------*/
  .form-container {
   background: white;
    font-size: 12px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .form-container h1{
    color: #00a1e4;
     font-size: 20px;
     font-weight: 700;
   }
  .form-container .form-control {
    border:none;
    border-bottom: 1px solid #ced4da;
    font-size: 12px;
  }
  
  /*--------------------------------------------------------------
  # Table
  --------------------------------------------------------------*/
  .table-area {
    font-size: 12px;
  }
  
  .table-area .table thead th {
    color: #000000;
    border-top: 1px solid #19bd9d;
    border-bottom: 1px solid #19bd9d;
    /* min-width:150px; */
  }
  .table-area .table thead th:last-child {
   min-width: 75px;
  }
  
  .table-area .table thead td {  
    min-width:100px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .table-area .table-striped tbody tr:nth-of-type(odd) {
    background-color: #eff4f3;
  }
  
  .table-area .table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff;
  }
  
  /*--------------------------------------------------------------
  # Pagination
  --------------------------------------------------------------*/
  
  .pagination-area {
    font-size: 12px;
  }
  .pagination-area .navigation{
    float: right;
  }
  
  
  .pagination-area .save {
    background: #00cc99;
    color:white;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .pagination-area .next-btn, .pagination-area .prev-btn  {
    background: #666666;
    color:white;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  
  section {
    padding: 0 0 20px 0;
  }
  
  .section-bg {
    background-color: white;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #00a0e4;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
 
  