<div class="container">
  <!-- --------------- breadcrumb ---------------- -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb pl-0 mt-3">
        <li class="breadcrumb-item active" aria-current="page">Payment Invoice Search</li>
    </ol>
</nav>


<!-- ----------------- table ------------------------- -->
  <div class="d-flex table-area mt-3">
    <div class="table-responsive">
    
        <table class="table table-striped"></table>
<form>
  <div class="form-group form-inline d-flex">
    <div class="mr-auto">
      Global Search: 
      <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
    </div>
    
      <a routerLink="/" class="mr-2"><button type="button" class="btn btn-primary">Create New</button></a>
      <a routerLink="/">Clear Filter</a>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      
     
     
     
      
     
      <th scope="col" sortable="name" (sort)="onSort($event)">Invoice Number</th>
      <th scope="col" sortable="area" (sort)="onSort($event)"> Invoice Description</th>
      <th scope="col" sortable="population" (sort)="onSort($event)"> Invoice submitted Date</th>
      <th scope="col" sortable="area" (sort)="onSort($event)"> Contract Number</th>
      <th scope="col">Invoice Status</th>
      <th scope="col" sortable="population" (sort)="onSort($event)"> Track Voic Status</th>
    </tr>
    <tr>
      <td>  <input type="text" class="form-control" id="Address" placeholder=""></td>
      <td>  <input type="text" class="form-control" id="Address" placeholder=""></td>
      <td>  <input type="text" class="form-control" id="Address" placeholder=""></td>
      <td>  <input type="text" class="form-control" id="Address" placeholder=""></td>
      <td>  <input type="text" class="form-control" id="Address" placeholder=""></td>
      <td> 
      </td>
      
  </tr>
    </thead>
    <tbody>
    <tr *ngFor="let country of countries$ | async">
      <th scope="row"><a routerLink="/invoice-details">{{ country.id }}</a></th>
      <td>      
        <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>      
        <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>      
        <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight></td>
      <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        View
      </button></td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
</form>
<app-model-window></app-model-window>

</div>