<div class="container">
  <div class="df-flex pt-4">
    <h2 class="page-title">Payment Invoice Search</h2>
  </div>
  <div class="d-flex m-2">
    <div class="col-xl-12 pr-0">
      <a routerLink="/contract-search" class="mr-2"> <button type="button" class="filter-btn pull-right ml-3">Clear All Filter</button></a>
      <a routerLink="" class="mr-2"><button type="button" class="add-new-btn pull-right">Create New</button></a>
     
    </div>
  </div>
  
  <div class="d-flex data-table-area">
    <div class="table-responsive">
<form>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" sortable="name" (sort)="onSort($event)">Invoice Number<img class="pl-2" src="../../../../assets/img/filter-icon.png"></th>
      <th scope="col" sortable="area" (sort)="onSort($event)"> Invoice Description<img class="pl-2" src="../../../../assets/img/filter-icon.png"></th>
      <th scope="col" sortable="population" (sort)="onSort($event)"> Invoice submitted Date<img class="pl-2" src="../../../../assets/img/filter-icon.png"></th>
      <th scope="col" sortable="area" (sort)="onSort($event)"> Contract Number<img class="pl-2" src="../../../../assets/img/filter-icon.png"></th>
      <th scope="col">Invoice Status<img class="pl-2" src="../../../../assets/img/filter-icon.png"></th>
      <th scope="col" sortable="population" (sort)="onSort($event)"> Track Voic Status<img class="pl-2" src="../../../../assets/img/filter-icon.png"></th>
    </tr>
    <tr class="form-container form-group">     
      <td>  <input type="text" class="form-control" id="Address" placeholder=""></td>
      <td>  <input type="text" class="form-control" id="Address" placeholder=""></td>
      <td>  <input type="text" class="form-control" id="Address" placeholder=""></td>
      <td>  <input type="text" class="form-control" id="Address" placeholder=""></td>
      <td>  <input type="text" class="form-control" id="Address" placeholder=""></td>
      <td> </td>
      
  </tr>
    </thead>
    <tbody>
    <tr *ngFor="let country of countries$ | async">
      <th scope="row"><a routerLink="/invoice-details">{{ country.id }}</a></th>
      <td>      
        <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>      
        <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>      
        <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight></td>
      <td class="text-center"> <button type="button" class="view-btn" data-toggle="modal" data-target="#exampleModalLong">
        View
      </button></td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <div>
      <span class="pr-2">Show </span>
      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="2">2</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="6">6</option>
      </select>
      <span class="pl-2"> records per page</span>
    </div>
      <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>
    </div>
</form>
<app-model-window></app-model-window>

</div>