
        
        .icon-Attachment-Section .path1:before,
        .icon-Attachment-Section .path2:before,
        .icon-Attachment-Section .path3:before,
        .icon-Bank-Details:before,
        .icon-Category--Scope:before,
        
      
        
        
        .icon-hamburger:before,
        .icon-logout:before,
  
        .icon-Dashboard .path1:before,
        .icon-Dashboard .path2:before,
        .icon-Dashboard .path3:before,
        .icon-Dashboard .path4:before,
        .icon-Dashboard .path5:before,
        .icon-Dashboard .path6:before,
        .icon-Dashboard .path7:before,
        .icon-Milestone .path1:before,
        .icon-Milestone .path2:before,
        .icon-Milestone .path3:before,
        .icon-Milestone .path4:before,
        .icon-Notifications:before,
        .icon-Supplier .path1:before,
        .icon-Supplier .path2:before,
        .icon-Supplier .path3:before,
        .icon-Supplier .path4:before,
        .icon-Tender .path1:before,
        .icon-Tender .path2:before,
        .icon-Tender .path3:before,
        .icon-Tender .path4:before,
        .icon-Tender .path5:before,
        .icon-Tender .path6:before,
        .icon-Tender .path7:before,
        .icon-Tender .path8:before,
        .icon-Tender .path9:before,
        .fa-bell:before
         {         
                font-size: 24px !important;
                color: #000;
            }
            .icon-Final-View:before,
            .icon-Financial--Business .path1:before,
            .icon-Financial--Business .path2:before,
            .icon-Financial--Business .path3:before,
            .icon-Financial--Business .path4:before,
            .icon-Financial--Business .path5:before,
            .icon-Financial--Business .path6:before,
            .icon-Financial--Business .path7:before,
            .icon-Financial--Business .path8:before,
            .icon-Financial--Business .path9:before,
            .icon-Financial--Business .path10:before,
            .icon-Financial--Business .path11:before,
            .icon-Financial--Business .path12:before,
            .icon-Contact-Details:before  {         
                font-size: 24px !important;
                color: #fff;
            }