<div class="container">
    <!-- --------------- breadcrumb ---------------- -->
    <div class="df-flex pt-4">
      <h2 class="page-title">Validatin Order Details</h2>
    </div>
    <div class="d-flex m-2">
      <div class="col-xl-12 pr-0">
        <a routerLink="" class="mr-2"> <button type="button" class="filter-btn pull-right ml-3">Clear All Filter</button></a>
        <!-- <a routerLink="" class="mr-2"><button type="button" class="add-new-btn pull-right">Create New</button></a> -->
       
      </div>
    </div>

  <!-- ----------------- table ------------------------- -->
  <div class="d-flex data-table-area">
    <div class="table-responsive">
      
         
  <form>
    <!-- <div class="form-group form-inline">
        Global Search: 
        <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
           
    </div> -->
  
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Validation Order Numner<img class="pl-2" src="../../../../assets/img/filter-icon.png"></th>
        <th scope="col" sortable="name" (sort)="onSort($event)">Validation Order Description<img class="pl-2" src="../../../../assets/img/filter-icon.png"></th>
        <th scope="col" sortable="area" (sort)="onSort($event)">Contract Number<img class="pl-2" src="../../../../assets/img/filter-icon.png"></th>
        <th scope="col" sortable="population" (sort)="onSort($event)">Contract Description<img class="pl-2" src="../../../../assets/img/filter-icon.png"></th>
        <th scope="col" sortable="area" (sort)="onSort($event)">Validation Order Amount<img class="pl-2" src="../../../../assets/img/filter-icon.png"></th>
        <th scope="col" sortable="population" (sort)="onSort($event)">Status<img class="pl-2" src="../../../../assets/img/filter-icon.png"></th>
      </tr>
      <tr class="form-container form-group">     
        <td>  <input type="text" class="form-control" id="Address" placeholder="Validation Order Description"></td>
        <td>  <input type="text" class="form-control" id="Address" placeholder="Contract Number"></td>
        <td>  <input type="text" class="form-control" id="Address" placeholder="Contract Description"></td>
        <td>  <input type="text" class="form-control" id="Address" placeholder="Validation Order Amoun"></td>
        <td>  <input type="text" class="form-control" id="Address" placeholder="Status"></td>
        <td> 
            <select class="form-control" id="country">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select></td>
        
    </tr>
      </thead>
      <tbody>
      <tr *ngFor="let country of countries$ | async">
        <th scope="row"><a routerLink="/validation-order-details">{{ country.id }}</a></th>
        <td>      
          <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>      
          <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>      
          <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td><ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="country.population | number" [term]="service.searchTerm"></ngb-highlight></td>
      </tr>
      </tbody>
    </table>
  
    <div class="d-flex justify-content-between p-2">
      <div>
        <span class="pr-2">Show </span>
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="2">2</option>
          <option [ngValue]="4">4</option>
          <option [ngValue]="6">6</option>
        </select>
        <span class="pl-2"> records per page</span>
      </div>
        <ngb-pagination
        [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>
      </div>
  
  </form>
  </div>