<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="page-header pt-3 pb-2">Contacts Management</h1>
        </div>

        <div class="menu-items-container">
            <a routerLink="/supplier-info">
            <div class="menu-item row">
                <div class="circle">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                </div>
                <div class="d-flex">
                    <span class="menu-name pl-5 pr-5">Contacts</span>
                </div>
            </div>
        </a>
        <a routerLink="/tenders-dashboard">
            <div class="menu-item row">
                <div class="circle">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
                <div class="d-flex">
                    <span class="menu-name pl-5 pr-5">Claims</span>
                </div>
            </div>
        </a>
        <a routerLink="/dashboard-contacts">
            <div class="menu-item row">
                <div class="circle">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                </div>
                <div class="d-flex">
                    <span class="menu-name ">Variation Order</span>
                </div>
            </div>
            </a>

        </div>
    </div>
</div>