<div class="fixed-container">
    <div class="blur"></div>
    <div class="container">
        <div class="container-login100 ">
            <div class="wrap-login100 ">
                <div class="login100-form">
                    <img class="login100-form_logo" src="../../../assets/img/pro360-logo.png">
                    <h1 class="login100-form_title pt-3">Sign in</h1>
                    <form>
                        <div class="wrap-input100 m-b-26">
                            <input class="input100" type="text" name="username" placeholder="Enter username">
                        </div>
                        <div class="flex-sb-m w-full mt-4">
                            <div class="d-flex contact100-form-checkbox">
                                <label class="label-text mr-auto">
                                    No account?
                                    <a href="#" class="txt1">
                                        Create one!
                                    </a>
                                </label>
                                <a routerLink="/login2" routerLinkActive="active">
                                    <button class="login100-form-btn">
                                        Next
                                    </button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>